html { }
body {position:relative; background:#0D0D0D url(img/gamepicker_header_bg.jpg) no-repeat center top; color:#CCC; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:small; }
h4 { font: medium "Trebuchet MS", Arial, Helvetica, sans-serif; text-transform: capitalize; }
a { color:#4064A6; text-decoration:none }
a:hover { color:#FFF; text-decoration:underline; }
.block{display:block;}
.plain-link, .plain-link:hover { text-decoration:none; }
.f-11 { font-size:11px }
.f-14{font-size:14px;}
.f-16{font-size:16px;}
.lgrey { color:#999;}
.white { color:#FFF; }
.xbox { color:#0C0; }
.gq { color:#900; }
.wii{color:#90C;}
.review-block { padding: 4px; margin-bottom: 4px; background: #181818; }
.cheats-block{ padding: 4px; margin-bottom: 4px; background:#111; width:48.5% }
.compact-text{font-size:0.83em; line-height:13px;}
.bold{font-weight:bold;}
.exclaim{padding:4px 4px 4px 30px; background: url(img/exclamation.png) no-repeat 4px center #181818; border:1px solid #333}
table { border-collapse:collapse; }
/* layout code */
.clearfloat{clear:both; visibility:hidden;}
.cr{clear:right;visibility:hidden;}
.cl{clear:left; visibility:hidden;}
.pos-rel{position:relative;}
.pos-abs{ position:absolute; left: 474px; top: -18px; }
.w-30{width:30px;}
.w-50{width:50px;}
.width30{width:29.999%;}
.width33{width:32.999%;}
.width63{width:63.999%;}
.width66{width:65.999%;}
.width50{width:49.999%;}
.width70{width:69.999%;}
.width90{width:89.999%;}
.width99{width:99%;}
.width100{width:100%;}

.width110px{width:110px;}
.width150px{width:150px;}

.fl{ float:left;}
.fr{float:right;}

.align-c{text-align:center;}
.valign-c{ vertical-align:10%; }
.pt-2{padding-top:2px;}
.pt-4{padding-top:4px;}
.pt-6{padding-top:6px;}
.pt-8{padding-top:8px;}
.pt-10{padding-top:10px;}

.pr-2{padding-right:2px;}
.pr-4{padding-right:4px;}
.pr-6{padding-right:6px;}
.pr-8{padding-right:8px;}
.pr-10{padding-right:10px;}

.pl-2{padding-left:2px;}
.pl-4{padding-left:4px;}
.pl-6{padding-left:6px;}
.pl-8{padding-left:8px;}
.pl-10{padding-left:10px;}

.pb-2{padding-bottom:2px;}
.pb-4{padding-bottom:4px;}
.pb-6{padding-bottom:6px;}
.pb-8{padding-bottom:8px;}
.pb-10{padding-bottom:10px;}

.p_all-2{padding:2px;}
.p_all-4{padding:4px;}
.p_all-6{padding:6px;}
.p_all-8{padding:8px;}
.p_all-10{padding:10px}

.mt-2{margin-top:2px;}
.mt-4{margin-top:4px;}
.mt-6{margin-top:6px;}
.mt-8{margin-top:8px;}
.mt-10{margin-top:10px;}
.mt-12{margin-top:12px;}
.mt-14{margin-top:14px;}
.mt-16{margin-top:16px;}
.mt-18{margin-top:18px}
.mt-20{margin-top:20px}

.mr-2{margin-right:2px;}
.mr-4{margin-right:4px;}
.mr-6{margin-right:6px;}
.mr-8{margin-right:8px;}
.mr-10{margin-right:10px;}
.mr-20{margin-right:20px;}

.ml-0{margin-left:0;}
.ml-2{margin-left:2px;}
.ml-4{margin-left:4px;}
.ml-6{margin-left:6px;}
.ml-8{margin-left:8px;}
.ml-10{margin-left:10px;}
.ml-40 {margin-left:40px;}
.ml-55{margin-left:55px;}

.mb-2{margin-bottom:2px;}
.mb-4{margin-bottom:4px;}
.mb-6{margin-bottom:6px;}
.mb-8{margin-bottom:8px;}
.mb-10{margin-bottom:10px;}

.m_all-2{margin:2px;}
.m_all-4{margin:4px;}
.m_all-6{margin:6px;}
.m_all-8{margin:8px;}
.m_all-10{margin:10px}

/*  End layout code */


#header { margin-top:50px; }
#cage { margin-top:20px; }
#container {
	/* [disabled]width:950px; */
	margin:0 auto 50px auto;
}
#header #logo {}
#header #topnav { float:right; }
#header #topnav ul { margin-right:10px; }
#header #topnav ul li { float:left; }
#header #topnav ul li a { color: #999; text-decoration: none; text-transform: lowercase; margin-right:6px; padding:6px 10px 4px; font-weight:bold; }
#header #topnav ul li a:hover { color:#FFF; background-image: url(img/gamepicker_link_fade_line.png); background-repeat: no-repeat; background-position: center bottom; }
#header #topnav ul li a.on { background-image: url(img/gamepicker_link_fade_line.png); background-repeat: no-repeat; background-position: center bottom; color:#FFF; }
#site-search input { color: #CCC; background-color: #222222; border: thin solid #333; padding: 2px; }
#overlay-bar .overlay { background-color: #000; width: 100%; opacity:0.6;}
#overlay-bar .overlay h2 { font-size: large; font-weight: bold; color:#FFF; padding-left:10px; font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif }
#overlay-bar { position: absolute; width: 100%; bottom: 0px; padding: 10px 10px 0px 0px; }
#tabpannel ul li { float: left; margin-right: 3px; }
#tabpannel ul li:last-child{margin-right:0;}
#tabpannel li a {
	background-color: #111;
	padding: 4px 20px;
	margin-right: 1px;
	color: #666;
	text-decoration: none;
	border-top: 2px solid #999;
	-webkit-transition-property:color, padding;
	-webkit-transition-duration:0.2s;
	-moz-transition-property:color,padding;
	-moz-transition-duration:.2s;
	-o-transition-property:color, padding;
	-o-transition-duration:.2s;
	transition-property:color, padding;
	transition-duration:.2s;
	zoom: 1;
}
#tabpannel li a:hover, #tabpannel li a.on { color:#FFF; padding:6px 20px; background: #111 url(img/gamepicker_tab_glow.png) no-repeat center top; border-top: 2px solid #ccc; }
#content-pannel .content-item { background-color: #181818; border: 1px solid #222222; padding:6px; margin: 0 0 4px 0; }
#main-sidebar img { background-color: #000; padding: 3px; border: 1px solid #333; }
.content-item h3 a { color: #4064A6; font-size: large; text-decoration: none; }
.content-item h3 a:hover { color:#FFF; }
#review-head h3,#games-head h3 { font-size: medium; font-weight: bold; font-variant: normal; color: #666; }
.bg-dark { background:#111111; }
.bg-deep { background:#181818 }
.bg-med { background:#272727; }
.bg-light { background:#333; }
.bt-light { border-top:#333 1px solid; }
.bb-light { border-bottom:#333 1px solid; }
.border-deep { border:solid 1px #181818; }
.border-med { border:solid 1px #222; padding: 6px; }
.border-light { border:solid 1px #333; }
.rating { background-color: #000; padding-left:10px }
.tbl-list { width:99.95%; }
.tbl-list tr { }
.tbl-list td { padding: 3px; }
.tbl-list td p{text-indent:0px !important;}
.tbl-list tr:hover, .tbl-list tr.alt:hover { background:#222; }
.tbl-list tr.alt { background:#181818; border-bottom:1px solid #333; border-top:1px solid #333; padding:4px 2px }
#content-pannel{background-color:#111;padding:6px; float:right; border:1px solid #333;}
  
}
#content-pannel .content-item .content-detail {
	background-color: #111111;
	padding: 4px;
	border: 1px solid #333333;
	/* [disabled]float: left; */
	/* [disabled]margin-right: 6px; */
}
#main-sidebar { background-color: #111; padding: 6px; float: left; margin-top: 18px; border: 1px solid #333; }
/*#footer-wrap #footer-bg { background-image: url(img/ryu_trans.png); background-repeat: no-repeat; background-position: right bottom; height: 250px; }*/
#footer-wrap #footer-bg { background-image: url(img/code_dependant_logo_alt.png); background-repeat: no-repeat; background-position: 99% center; height: 140px; }
#footer-wrap #bottom-bar { border-bottom: 4px solid #4064A6; padding: 6px; border-top: 1px solid #444; }
#footer-wrap #top-bar {
	background-color: #0C0C0C;
	border-top: 1px solid #222;
	zoom: 1;
}
#footer-wrap #top-bar ul li { float: left; padding:3px; }
#footer-wrap #bottom-bar ul li { float:left; }
#footer-wrap #top-bar ul li a { padding:2px 6px; }
#footer-wrap #top-bar ul li a:hover {
	text-decoration:none;
	background:#333;
}
#footer-wrap #top-bar ul li a.on { background:#333; color:#FFF; }
#bottom-bar ul li a { border-right: 1px dotted #CCC; padding-right: 4px; padding-left: 4px; }
#footer-wrap h4 { font: bold large "Arial Black", Arial, Helvetica, sans-serif; color: #FFF; border-bottom: 1px solid #333; }
#footer-wrap #footer-bg ul li { padding:2px; margin-top:2px; }
#footer-wrap #footer-bg ul li.user-block { padding-left:20px; background-image: url(img/user.png); background-repeat: no-repeat; background-position: left top; }
#footer-wrap #footer-bg ul li.article-block { background-image: url(img/page_white_edit.png); background-repeat: no-repeat; background-position: left center; padding-left: 20px; }
#footer-wrap #footer-bg ul li.comment-block { background-image: url(img/comment.png); background-repeat: no-repeat; background-position: left center; padding-left: 20px; }
#footer-wrap #footer-bg ul li.gallery-block { background-image: url(img/gallery_add.png); background-repeat: no-repeat; background-position: left center; padding-left: 20px; }
#article-content{display:block;}
#article-content p { text-indent: 10px; margin-bottom: 8px; line-height:150%;}
.button_wrap { padding:1px; background:#333; }
fieldset li { margin-bottom:4px; background:#272727; padding:10px 4px; border:1px solid #333; width:auto}
#comment-form fieldset li input.dark_button, .dark_button { background-color: #333; background-image: url(img/gamepicker_button_bg_dark.jpg); background-repeat: repeat-x; background-position: left center;border: 1px solid #000; padding:6px; font: 0.8em "Trebuchet MS", Arial, Helvetica, sans-serif; color: #CCC; }
#comment-form fieldset li input.dark_button:hover, .dark_button:hover  { background-color: #333; background-image: url(img/gamepicker_button_bg_dark_hover_alt.jpg); }
fieldset textarea { font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; color: #CCC; background-color: #111; border:1px solid #333; width:98.99%; padding:4px; margin-left:-2px;}
.comment-wrap { background-color: #111; padding: 8px; border: 1px solid #333; }
.comment { background: #272727; border:1px solid #333; padding:6px; margin-bottom: 8px; }

#article-title h1 { font: large "Arial Black", Gadget, sans-serif; color: #FFF; }
#article-content p img { background: #111; padding: 6px; border: 1px solid #333; margin: 2px; }
.comment-heading { background: #181818; padding: 4px; margin-left: 55px; }
.comment-wrap .comment p { margin: 2px 0px 0px 55px !important; text-indent: 0; width: 90%; }
.comment img { background: #111; padding: 4px; border: 1px solid #333; }
#paginator ul li {float:left;}
#paginator li a,#paginator li .current, #paginator li .disabled{padding: 4px 8px; margin-top: 4px; margin-right: 4px; }
#paginator ul li a:hover{text-decoration:none;background:#222;}
#paginator ul li:hover{}

#selector ul li {float:right;}
#selector ul li a {padding: 4px 8px; margin-top: 4px; margin-right: 4px; }
#selector ul li a:hover{text-decoration:none;background:#222;}
#selector ul li:hover{}

#modalbase{padding:6px; background:transparent url(img/black-bg-50.png ) repeat scroll;}
#modalbase.smallBox{width:350px}
#modalbase.medBox{width:500px;}
#modalbase.lgBox{width:750px;}
#modalbase .title{color:#4064A6; font-size:20px; font-weight:bold;}
.draggable{cursor: move;}
.tbl-list tbody .padded tr { padding: 6px; }

.js-dependant-checkbox a {
  font-size: 13px;
  color: #FFF;
  text-decoration: none;
}
input[type=text], input[type='password']{
  background-color:#333;
  color:#ccc;
  width:100%;
  border:solid 1px #222;
  text-indent:6px;
  height:30px;
  -moz-border-radius: 6px;
  -webkit-border-radius:6px;
  border-radius:6px;
}
input[type=text]:hover, input[type='password']:hover{
  background-color:#666;
  color:#222;
  
}
input[type=text]:focus, input[type='password']:focus{
  background-color:#ccc;
  color:#000;
  border:1px solid transparent;
  
}
.js-dependant-checkbox {
  position: relative;
  display:inline-block;
}
.js-dependant-checkbox a .checkbox {
  background-color: #999;
  display: inline-block;
  height: 12px;
  width: 12px;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
  position: relative;
  top: 2px;
  -moz-box-shadow:1px 1px rgba(0,0,0,0.7) inset;
  -webkit-box-shadow:-1px -1px rgba(0,0,0,0.7);
}


.js-dependant-checkbox a .checkbox-text {
  display: inline-block;
  margin-left: 4px;
  font-variant: small-caps;

}
.quote, blockquote {
  background:transparent url(img/quote-close.png) no-repeat scroll right bottom;
  background-color:#181818;
  border:#333 solid 1px;
  color:#fff;
  font-size:.8em;
  font-style:italic;
  font-weight:700;
  margin:5px 50px;
  padding:6px;
}
.quote p, blockquote p{padding:0 0 5px 30px;}
blockquote p:first-child {
  background:transparent url(img/quote-start.png) no-repeat scroll left -4px;
  margin-left:20px
}
a.comments{display:inline-block;color:#777;width:25px;height:16px;line-height:10px;background:url(img/comments-bubble-333.png) no-repeat left center;text-align:center;font-size:xx-small;margin:0 5px;}
a.comments:hover{text-decoration:none; color:#FFF;}

.remooz-element
{
  cursor:         -moz-zoom-in;
}

/**
 * Box layout
 */

.remooz-box
{
  position:       absolute;
  top:          0;
  left:         0;
  background:       #fff no-repeat center;
  z-index:        100;
}
.remooz-loading
{
  background-image:   url(img/spinner.gif);
}
.remooz-body
{
  width:          100%;
  height:         100%;
}
.remooz-box-focus.remooz-type-image .remooz-body
{
  cursor:         -moz-zoom-out;
}
.remooz-box-dragging .remooz-body
{
  cursor:         move;
}

/**
 * Close button
 */

.remooz-btn-close
{
  position:       absolute;
  left:         -15px;
  top:          -15px;
  width:          30px;
  height:         30px;
  text-decoration:    none;
  border:         0;
  background:       url(img/closebox.png) no-repeat center;
  visibility:       hidden;
  cursor:         pointer;
}
.remooz-engine-trident4 .remooz-btn-close
{
  background-image:   url(img/closebox.gif);
}

/**
 * Caption title
 */

.remooz-title
{
  position:       relative;
  left:         0;
  top:          15px;
  text-align:       left;
}
.remooz-title-bg
{
  position:       absolute;
  left:         0;
  top:          0;
  width:          100%;
  height:         100%;
  background-color:   #000;
  z-index:        99;
  -moz-border-radius:   5px;
  -webkit-border-radius:  5px;
  /* shadow opacity differs from box shadow because its default set to opacity 0.8 */
  -webkit-box-shadow:   0 0 10px rgba(0, 0, 0, 0.9);
}
.remooz-title-content
{
  position:       relative;
  padding:        5px 15px;
  color:          #fff;
  z-index:        101;
  font:         11px/1.5 Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.remooz-engine-trident4 .remooz-title-bg
{
  display:        none;
}
.remooz-engine-trident4 .remooz-title-content
{
  background-color:   #333;
}

.remooz-title-content h6
{
  font-size:        1.2em;
  font-weight:      bold;
  color:          #eee;
}
.remooz-title-content p
{
  color:          #eee;
}

/**
 * Type specific
 */

.remooz-type-image img
{
  display:        block;
  border:         0;
  width:          100%;
  height:         100%;
}

/**
 * Shadow
 */

.remooz-bg
{
  position:       absolute;
  width:          33px;
  height:         40px;
}

.remooz-bg-n
{
  left:         0;
  top:          -40px;
  width:          100%;
  background:       url(img/remo_bg_n.png) repeat-x;
}
.remooz-bg-ne
{
  right:          -33px;
  top:          -40px;
  background:       url(img/remo_bg_ne.png) no-repeat;
}
.remooz-bg-e
{
  right:          -33px;
  top:          0;
  height:         100%;
  background:       url(img/remo_bg_e.png) repeat-y;
}
.remooz-bg-se
{
  right:          -33px;
  bottom:         -40px;
  background:       url(img/remo_bg_se.png) no-repeat;
}
.remooz-bg-s
{
  left:         0;
  bottom:         -40px;
  width:          100%;
  background:       url(img/remo_bg_s.png) repeat-x;
}
.remooz-bg-sw
{
  left:         -33px;
  bottom:         -40px;
  background:       url(img/remo_bg_sw.png) no-repeat;
}
.remooz-bg-w
{
  left:         -33px;
  top:          0;
  height:         100%;
  background:       url(img/remo_bg_w.png) repeat-y;
}
.remooz-bg-nw
{
  left:         -33px;
  top:          -40px;
  background:       url(img/remo_bg_nw.png) no-repeat;
}