.clearfloat{clear:both; visibility:hidden;}
.cr{clear:right;visibility:hidden;}
.cl{clear:left; visibility:hidden;}
.pos-rel{position:relative;}
.pos-abs{ position:absolute; left: 474px; top: -18px; }
.w-30{width:30px;}
.w-50{width:50px;}
.width30{width:29.999%;}
.width33{width:32.999%;}
.width63{width:63.999%;}
.width66{width:65.999%;}
.width50{width:49.999%;}
.width70{width:69.999%;}
.width90{width:89.999%;}
.width99{width:99%;}
.width100{width:100%;}

.width110px{width:110px;}
.width150px{width:150px;}

.fl{ float:left;}
.fr{float:right;}

.align-c{text-align:center;}
.valign-c{ vertical-align:10%; }
.pt-2{padding-top:2px;}
.pt-4{padding-top:4px;}
.pt-6{padding-top:6px;}
.pt-8{padding-top:8px;}
.pt-10{padding-top:10px;}

.pr-2{padding-right:2px;}
.pr-4{padding-right:4px;}
.pr-6{padding-right:6px;}
.pr-8{padding-right:8px;}
.pr-10{padding-right:10px;}

.pl-2{padding-left:2px;}
.pl-4{padding-left:4px;}
.pl-6{padding-left:6px;}
.pl-8{padding-left:8px;}
.pl-10{padding-left:10px;}

.pb-2{padding-bottom:2px;}
.pb-4{padding-bottom:4px;}
.pb-6{padding-bottom:6px;}
.pb-8{padding-bottom:8px;}
.pb-10{padding-bottom:10px;}

.p_all-2{padding:2px;}
.p_all-4{padding:4px;}
.p_all-6{padding:6px;}
.p_all-8{padding:8px;}
.p_all-10{padding:10px}

.mt-2{margin-top:2px;}
.mt-4{margin-top:4px;}
.mt-6{margin-top:6px;}
.mt-8{margin-top:8px;}
.mt-10{margin-top:10px;}
.mt-12{margin-top:12px;}
.mt-14{margin-top:14px;}
.mt-16{margin-top:16px;}
.mt-18{margin-top:18px}
.mt-20{margin-top:20px}

.mr-2{margin-right:2px;}
.mr-4{margin-right:4px;}
.mr-6{margin-right:6px;}
.mr-8{margin-right:8px;}
.mr-10{margin-right:10px;}
.mr-20{margin-right:20px;}

.ml-0{margin-left:0;}
.ml-2{margin-left:2px;}
.ml-4{margin-left:4px;}
.ml-6{margin-left:6px;}
.ml-8{margin-left:8px;}
.ml-10{margin-left:10px;}
.ml-40 {margin-left:40px;}
.ml-55{margin-left:55px;}

.mb-2{margin-bottom:2px;}
.mb-4{margin-bottom:4px;}
.mb-6{margin-bottom:6px;}
.mb-8{margin-bottom:8px;}
.mb-10{margin-bottom:10px;}

.m_all-2{margin:2px;}
.m_all-4{margin:4px;}
.m_all-6{margin:6px;}
.m_all-8{margin:8px;}
.m_all-10{margin:10px}
