{% extends 'publisher/index.html' %}
{% load cache_comments %}
{% block stylesheets %}
  <link href="{{ MEDIA_URL }}css/MooEditable.css" rel="stylesheet" type="text/css">
{% endblock %}
{% block javascripts %}
  <script src="{{ MEDIA_URL }}js/lighter/Lighter.js"></script>
  <script src="{{ MEDIA_URL }}js/lighter/Fuel.js"></script>
   
{% endblock %}
      
      <!--    START MAIN AREA     -->
      <section class="width66 p_all-6 fr bg-dark border-dark mt-18" id="content-pannel">
        {% block articlearea %}
        {% block articletitle %}
          <div class="bg-deep p_all-4" id="article-title">
            <header><h1>{{ object.title }}</h1></header>
          </div>
         {% endblock %}
          <div class="bg-med pl-4 mb-4"> written by: <a href="#">{{ object.author.first_name }}</a> on {{ object.date_created|date:"b d Y" }} <a href="{% url publisher_content_edit object.get_ctype_id, object.pk, object.slug %}" id="editmode">edit</a></div>
       
          
            <article class='bg-med border-light p_all-4 clearfix' id="article-content">
               {{ object.content|safe }}
            </article>
          <br />
          {% block comments %}
          <div class="comment-wrap"><a name="comments" rel="section" href="#comments" />
          <div class="mb-8">
            {% if user.is_authenticated %}
            <a href="#post" class="plain-link smoothscroll">Post a comment</a>
            {% else %}
            <a href="#" class="plain-link">Log in to comment</a>
            {% endif %}
          </div>
            <div class="comment">
              <img src="images/avatar_e.jpg" alt=""width="40" height="40" class="fl" />
              <div class="comment-heading">
              posted by <a href="#" class="white">Butter</a> on fri oct 18 2009 </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla volutpat facilisis ante quis imperdiet. Suspendisse aliquam scelerisque purus. Praesent malesuada odio et malesuada. Mauris in neque massa.</p>
            </div>            
            <div class="comment">
              <img  src="images/avatar_f.jpg" id="avatar_f" alt="" class="fl" />      
                <div class="comment-heading">
            posted by <a href="#" class="xbox">Poet</a> on fri oct 18 2009 </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla volutpat facilisis ante quis imperdiet. Suspendisse aliquam scelerisque purus. Praesent malesuada odio et malesuada. Mauris in neque massa.</p>
            </div>
            <div class="comment">
              <img  src="images/avatar_g.jpg"class="fl" alt="" />      
                <div class="comment-heading">
            posted by <a href="#" class="gq">TheybeGints</a> on fri oct 18 2009 </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla volutpat facilisis ante quis imperdiet. Suspendisse aliquam scelerisque purus. Praesent malesuada odio et malesuada. Mauris in neque massa.</p>
            </div>
            <div class="comment">
              <img src="images/avatar_h.jpg" class="fl" alt="" />      
                <div class="comment-heading">
            posted by <a href="#">Assassin</a> on fri oct 18 2009 </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla volutpat facilisis ante quis imperdiet. Suspendisse aliquam scelerisque purus. Praesent malesuada odio et malesuada. Mauris in neque massa.</p>
            </div>
            {% if user.is_authenticated %}
            {% get_comment_form for object as cForm %}          
            <form id="comment-form" action="{% comment_form_target %}" method="post"><a name="post" href="#post" />
              <fieldset>
                <ul>
                  <li>
                   {{ cForm.comment }}
                   {{ cForm.content_type }}{{ cForm.object_pk }}{{ cForm.security_hash }}{{ cForm.timestamp }}
                  </li>
                  <li> <span class="fl button_wrap">
                    <input type="submit" class="dark_button" value="Post Comment" />
                    </span><br class="clearfloat" />
                  </li>
                </ul>
              </fieldset>
            </form>
            {% endif %}
          </div>
          <!-- END  Comments area -->
          {% endblock %}
          {% endblock %}
      </section>
      </div>
{% block extrascripts %}
  <script src="{{ MEDIA_URL }}js/MooEditable.js"></script>
  <script src="{{ MEDIA_URL }}js/Fx.ProgressBar.js"></script>
  <script src="{{ MEDIA_URL }}js/Swiff.Uploader.js"></script> 
  <script src="{{ MEDIA_URL }}js/FancyUpload2.js"></script>  
  <script type="text/javascript" src="{{ MEDIA_URL }}js/MooEditable.Urlsearch.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/MooEditable.Photosearch.js"></script>   
  <script>
    {% include "core/MooEditable.dependantextra.js.html" %}
  </script>
  <script src="{{ MEDIA_URL }}js/lighter/Lighter.js"></script> 
  <script>
    window.addEvent('domready', function(){
      var emode, alerts;
      emode = new cDependant.Forms.EditMode({
        MEDIA_URL:"{{ MEDIA_URL }}",
        wikiArea:'content-pannel',
        warningColor:'#4064A6',
        warningTextColor:"#dddddd",
        formURL:'{% url publisher_content_edit object.get_ctype_id, object.pk, object.slug %}',
        editorActions:'h2 h4 p | bold italic | insertunorderedlist indent outdent | undo redo | createlink urlsearch unlink | urlimage photosearch swfupload | insertcode toggleview'
        
      })
      alerts = new Roar({
        duration:4000
      });
       {% if messages %}
        {% for message in messages %}
          alerts.alert('{{ message.tags }}', '{{ message }}'.clean());
        {% endfor %}
       {% endif %}
      document.id('editmode').addEvent('click', function(evt){
        emode.buildEditor();
        evt.preventDefault();
      });
      $$('pre').light({
        altLines:'hover',
        mode:'ol',
        indent:3
      });
    });
  </script>
{% endblock %}