{% extends 'publisher/index.html' %}
{% block javascripts %}
  <script src="{{ MEDIA_URL }}js/lighter/Lighter.js"></script>
    <script src="{{ MEDIA_URL }}js/lighter/Fuel.js"></script>  
{% endblock %}
      
      <!--    START MAIN AREA     -->
      <section class="width66 p_all-6 fr bg-dark border-dark mt-18" id="content-pannel">
        {% block articlearea %}
        {% block articletitle %}
          <div class="bg-deep p_all-4" id="article-title">
            <header><h1>{{ object.title }}</h1></header>
          </div>
         {% endblock %}
          <div class="bg-med pl-4 mb-4"> written by: <a href="#">{{ object.author.first_name }}</a> on {{ object.date_created|date:"b d Y" }} <a href="{% url publisher_content_edit object.get_ctype_id, object.pk, object.slug %}">edit</a></div>
       
          
            <article class='bg-med border-light p_all-4 clearfix' id="article-content">
               {{ object.content|safe }}
            </article>
          <br />
          {% block comments %}
          <div class="comment-wrap"><a name="comments" rel="section" href="#comments" />
          <div class="mb-8"><a href="#" class="plain-link">Log In To Comment</a></div>
            <div class="comment">
              <img src="images/avatar_e.jpg" alt=""width="40" height="40" class="fl" />
              <div class="comment-heading">
              posted by <a href="#" class="white">Butter</a> on fri oct 18 2009 </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla volutpat facilisis ante quis imperdiet. Suspendisse aliquam scelerisque purus. Praesent malesuada odio et malesuada. Mauris in neque massa.</p>
            </div>            
            <div class="comment">
              <img  src="images/avatar_f.jpg" id="avatar_f" alt="" class="fl" />      
                <div class="comment-heading">
            posted by <a href="#" class="xbox">Poet</a> on fri oct 18 2009 </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla volutpat facilisis ante quis imperdiet. Suspendisse aliquam scelerisque purus. Praesent malesuada odio et malesuada. Mauris in neque massa.</p>
            </div>
            <div class="comment">
              <img  src="images/avatar_g.jpg"class="fl" alt="" />      
                <div class="comment-heading">
            posted by <a href="#" class="gq">TheybeGints</a> on fri oct 18 2009 </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla volutpat facilisis ante quis imperdiet. Suspendisse aliquam scelerisque purus. Praesent malesuada odio et malesuada. Mauris in neque massa.</p>
            </div>
            <div class="comment">
              <img src="images/avatar_h.jpg" class="fl" alt="" />      
                <div class="comment-heading">
            posted by <a href="#">Assassin</a> on fri oct 18 2009 </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla volutpat facilisis ante quis imperdiet. Suspendisse aliquam scelerisque purus. Praesent malesuada odio et malesuada. Mauris in neque massa.</p>
            </div>
            <form id="comment-form" action="" method="post">
              <fieldset>
                <ul>
                  <li>
                    <textarea name="textarea" rows="5" cols="40"></textarea>
                  </li>
                  <li> <span class="fl button_wrap">
                    <input type="submit" class="dark_button" value="Post Comment" />
                    </span><br class="clearfloat" />
                  </li>
                </ul>
              </fieldset>
            </form>
          </div>
          <!-- END  Comments area -->
          {% endblock %}
          {% endblock %}
      </section>
      </div>
{% block extrascripts %}

  <script>
    window.addEvent('domready', function(){
      $$('pre').light({
        altLines:'hover',
        mode:'ol',
        indent:3
      });
    });
  </script>
{% endblock %}