{% extends 'base.html' %}
{% block articleclass %}on{% endblock %}
{% block formmedia %}
  {{ form.media }}
{% endblock %}
{% block content %}
<div class="p_all-4 bg-deep">
<form action="" method="post" id="editForm" enctype="multipart/form-data">
  <fieldset>
    <ul class="grid_16 alpha omega">
      {{ form.as_ul }}
    </ul>
  </fieldset>
 </form>
</div>
  <script>
    {% include "core/MooEditable.dependantextra.js.html" %}
  </script>
{% endblock %}
{% block extrascripts %}
  <script src="{{ MEDIA_URL }}js/lighter/Lighter.js"></script> 
  <script>
    window.addEvent('domready', function(){
      $$('pre').light({
        altLines:'hover',
        mode:'ol',
        indent:3
      });
    });
  </script>
{% endblock %}
