<form action="" method="post" enctype="multipart/form-data" id="photo-upload">
	<fieldset id="photo-fallback">
		<fieldset>
		<ul>{{ form.as_ul }}
			<li>
				<a href="#" id="upload">Upload image</a>
			</li>
		</ul>
		</fieldset>
	</fieldset>
 
	<div id="photo-status" class="hide">
		<p>
			<a href="#" id="photo-browse">Browse Files</a> |
			<a href="#" id="photo-clear">Clear List</a> |
			<a href="#" id="photo-upload">Start Upload</a>
			<a href="#" id="photo-close">Finished</a>
		</p>
		<div>
			<strong class="overall-title"></strong><br />
			<img src="{{ MEDIA_URL }}images/bar.gif" class="progress overall-progress" />
		</div>
		<div>
			<strong class="current-title"></strong><br />
			<img src="{{ MEDIA_URL }}images/bar.gif" class="progress current-progress" />
		</div>
		<div class="current-text"></div>
	</div>
 
	<ul id="photo-list"></ul>
 
</form>