{% extends 'base.html' %}
{% block content %}
    <div class="p_all-10 bg-deep border-light" style="overflow:hidden;">
      <div class="fr pos-rel">
        <div id="overlay-bar" style="bottom:0px;">
          <div class="overlay pt-6 pb-6" >
            <h2>We got our hands on Square's remake of FFVII for the PS3. And it is good!</h2>
          </div>
          <div class="rating pb-6"><img src="images/5_stars.png" alt="5 stars"></div>
        </div>
        <img src="images/final-fantasy.jpg" alt=""></div>
      <br class="clearfloat">
    </div>
    <div id="cage">
      <div class="grid_5 alpha" id="main-sidebar">
        <div class="bg-dark p_all-6 bb-light mb-2" id="games-head">
          <h3>Yesterday's Top Games</h3>
        </div>
        <table class="tbl-list">
          <tr>
            <td><a href="#">Surfer dude</a><br>
              <a href="#" class="lgrey f-11">Katamari is the most inventive interface...</a></td>
            <td class="w-50"><img  src="images/fable_50x50.jpg"  id="indexhtml1" alt=""></td>
          </tr>
          <tr class="alt">
            <td><a href="#">kissR</a><br>
              <a href="#" class="lgrey f-11">This game is a satire of modern society...</a></td>
            <td ><span class="w-50"><img  src="images/persia_50x50.jpg"  id="prince_persia_icon" alt=""></span></td>
          </tr>
          <tr>
            <td><a href="#">Butter</a><br>
              <a href="#" class="lgrey f-11">Combat mechanics are a mixed bag in this new version...</a></td>
            <td class="w-50"><img  src="images/colossus_50x50.jpg"  id="colossus_icon" alt="shadow"></td>
          </tr>
          <tr class="alt">
            <td><a href="#">ShakenStirred</a><br>
              <a href="#" class="lgrey f-11">The soundtrack to this game is...</a></td>
            <td ><span class="w-50"><img  src="images/residentevil_50x50.jpg"  id="residentevil_icon" alt=""></span></td>
          </tr>
        </table>
        <div class="bg-dark p_all-6 mt-8 bb-light mb-2" id="review-head">
          <h3>User Reviews</h3>
        </div>
        <table class="tbl-list">
          <tr>
            <td><a href="#">Surfer dude</a><br>
              <a href="#" class="lgrey f-11">Katamari is the most inventive interface...</a></td>
            <td class="w-50"><img  src="images/avatar_a.gif"  id="avatar_a" alt="avatar"></td>
          </tr>
          <tr class="alt">
            <td><a href="#">kissR</a><br>
              <a href="#" class="lgrey f-11">This game is a satire of modern society...</a></td>
            <td ><span class="w-50"><img  src="images/avatar_b.gif"  id="avatar_b" alt=""></span></td>
          </tr>
          <tr>
            <td><a href="#">Butter</a><br>
              <a href="#" class="lgrey f-11">Combat mechanics are a mixed bag in this new version...</a></td>
            <td class="w-50"><img src="images/avatar_c.gif"  id="avatar_c" alt=""></td>
          </tr>
          <tr class="alt">
            <td><a href="#">ShakenStirred</a><br>
              <a href="#" class="lgrey f-11">The soundtrack to this game is...</a></td>
            <td ><span class="w-50"><img src="images/avatar_d.gif"  id="avatar_d" alt=""></span></td>
          </tr>
        </table>
      </div>
      <div class="fr ml-4" id="tabpannel">
        <ul>
          <li><a href="#" class="on">Features</a></li>
          <li><a href="#">Reviews</a></li>
          <li><a href="#">Previews</a></li>
          <li><a href="#">Cheats</a></li>
        </ul>
      </div>
      <section class="width66 p_all-6 fr bg-dark border-dark" id="content-pannel">
        <div class="content-item">
          <div class="content-detail grid_3 alpha"><img name="fable_icon" src="images/fable_icon.jpg" width="160" height="75" border="0" alt=""></div>
          <h3><a href="#">Fable II: Return Of The Hero</a></h3>
          <p>Action RPG  Fable II picks up where its illustrious predecessor Fable left off. Developed by Peter Molyneux and Lionhead Studios, Fable II tells an enchanting tale of a young boy (or girl) called to right  injustices in the ancient  kingdom of Albion. </p>
        </div>
        <div class="content-item">
          <div class="content-detail grid_3 alpha"><img name="ffxx_icon" src="images/ffxx_icon.jpg" width="160" height="75" border="0" alt=""></div>
          <h3><a href="#">Hands On: FFXX</a></h3>
          <p>Proin rhoncus dolor sed nulla feugiat fermentum. Quisque ut urna est.  Nulla metus erat, blandit eu porttitor ac, tincidunt ac ligula.  Vestibulum ante ipsum primis in faucibus orci luctus et ultrices  posuere cubilia Curae; Cum. </p>
        </div>
        <div class="content-item">
          <div class="content-detail grid_3 alpha"><img name="ffXII_thmb" src="images/ffXII_thmb.jpg" width="160" height="75" border="0" alt=""></div>
          <h3><a href="#">New Site Design - Dark &amp; Sexy!</a></h3>
          <p>Mauris ipsum enim, vulputate sit amet luctus eget, blandit sed massa.  Cras varius velit in dolor aliquam vel sagittis dui semper. Phasellus  vestibulum dui et leo tristique egestas. Nam at felis ut ante tincidunt  imperdiet. </p>
        </div>
        <div class="content-item">
          <div class="content-detail grid_3 alpha"><img name="midway_icon" src="images/midway_icon.gif" width="160" height="75" border="0" alt=""></div>
          <h3><a href="#">Midway Bites The Big One</a></h3>
          <p>Vestibulum ac quam sed elit ultricies mattis et vitae diam.  Pellentesque habitant morbi tristique senectus et netus et malesuada  fames ac turpis egestas. Phasellus malesuada varius commodo. Sed  fermentum, urna ac tempor cursus, orci metus. </p>
        </div>
      </section>
      <br class="clearfloat">
    </div>
    {% endblock %}
